/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

header{
  background-image: linear-gradient(grey ,#404040);
}
.heading{
  margin-top: 2em;
  background-color: #DADADA;
  height: 30em;
  margin-bottom: 5em;
}
.logo{
  font-size: 1.5em;
  color: white;

}
.logo:hover{
  color: red;
  text-decoration: none;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.nav-bar li {
  margin-right: 1em;
}
.nav-bar li a {
  color: white;
}
.nav-bar li a:hover {
  color: darkred;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }

  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

}







